body {
  background-color: mistyrose;
}

.container-wrapper {
  display: flex;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
}

.categories-panel-div {
  flex: 1;
  margin-right: 0px;
  text-align: center;
}
.quotes-panel-div {
  flex: 3;
  text-align: center;
  background-color: white;
  min-height: 100vh;
  border-radius: 20px;
  margin-top: 20px;
}

.feature-panel-div {
  flex: 1;
  text-align: center;
}
