.button-container {
  float: right;
}

/* span button {
 
  margin: 5px;
} */

.navbar-login-btn,
.navbar-logout-btn {
  background-color: hotpink;
  font-size: 15px;
  border: none;
  padding: 5px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  background-color: hotpink;
}

.navbar-login-btn {
  margin-right: 5px;
  padding: 5px 15px;
}

.navbar-login-btn:hover,
.navbar-logout-btn:hover {
  background-color: deeppink;
}
